* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  margin-bottom: 30px;
}

.container {
  width: 1000px;
  margin:0 auto;
}

.immagine {
  display: inline-block;
  position: relative;
}

.badge {
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
}

.immagine:nth-child(2) .badge{
  background-color: red;
}

.heart-container {
  text-align: center;
  opacity: 0;
}

.heart {
  color: red;
  position: absolute;
  bottom: 15px;
  font-size: 25px;
}

.immagine:hover .heart-container {
  opacity: 1;
}
